.terms-container {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    width: 100%;
}

.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    width: 100%;
}

#privacy-policy-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.privacy-container {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left; 
    font-size: 16px; 
    font-family: 'Baloo 2', sans-serif; 
    color: #333;/
}

#privacy-policy-section h1 {
    font-size: 24px;
    color: #d13469;
    font-weight: bold;
    margin-top: 100px;
}

#privacy-policy-section h2 {
    font-size: 24px;
    color: #d13469;
    font-weight: bold;
    margin-top: 25px;
}

#privacy-policy-section p, 
#privacy-policy-section ul {
    font-size: 16px;
}

#privacy-policy-section li {
    margin-bottom: 10px;
}

#privacy-policy-section b {
    font-weight: bold;
}

#terms-of-use-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}

.terms-container {
    max-width: 800px; 
    margin: 0 0; 
    padding: 20px;
    text-align: left; 
    font-size: 16px; 
    font-family: 'Baloo 2', sans-serif; 
    color: #333; 
}

#terms-of-use-section h1 {
    font-size: 24px;
    color: #d13469;
    margin-top: 100px;
    font-weight: bold;
}

#terms-of-use-section h2 {
    font-size: 24px;
    color: #d13469;
    margin-top: 20px;
    font-weight: bold;
}

#terms-of-use-section p, 
#terms-of-use-section ul {
    font-size: 16px;
}

#terms-of-use-section li {
    margin-bottom: 10px;
}

#terms-of-use-section b {
    font-weight: bold;
}